* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bgColor-black: #010409;
    --color-white: #fff;
    --border-color: #323334;
    --muted-color: #8f8f8f;
}

body {
    /* background-color: var(--bgColor-black); */
    color: var(--color-white) !important;
    font-family: "Poppins", serif;
}

/* navbar */
.nav-center{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-container{
    width: 90%;
}
.link-container ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
li .form-class{
    width: 100%;
}
/* .link-container ul{
    width: 95%;
    overflow: hidden;

} */
 /* btn bars */
.btn-bars {
    border: none;
    background-color: transparent;
    color: var(--border-color);
    font-size: 1.5rem;
    transition: 0.3s ease-in-out all;
}
.btn-bars:hover{
    transform: rotate(90deg);
}

.avatar {
    border-radius: 50%;
}

.form-class {
    padding: 3px 10px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    color: var(--bgColor-black);
    width: 70%;
    display: flex;
    align-items: center;
}

.form-class input {
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
}

/* card */
.card {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: var(--bgColor-black);
}

.github-name {
    font-size: 15px;
}

.text-muted {
    color: var(--muted-color);
    font-size: 10px;
    margin-left: 10px;
}

.identity {
    color: var(--bgColor-black);
}

.identity p {
    font-size: 12px;
    margin-bottom: 5px;
}

.identity ul {
    display: flex;
    gap: 10px;
    list-style: none;
    font-size: 12px;
}

.card button {
    padding: 5px 10px;
    border-radius: 5px;
}


/* footer */
footer {
    padding: 10px 20px;
    border-top: 1px solid var(--border-color);
}

footer ul {
    display: flex;
    list-style: none;
    width: 30%;
    margin: auto;
    justify-content: space-between;
}

@media screen and (min-width: 800px){
    .btn-bars{
        display: none;
    }
}